<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Collabor8</title>
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico"/>
    <link href="/landingPage.css" rel="stylesheet" />
</head>
    <body>
        <header>
            <div class="navbar navbar-expand fixed-top" id="navt">
                <h2>Collabor8 <span class="hide">Animation & Illustration Hub</span></h2>
                <a href="/signUp"><button>SIGN UP</button></a>
                <a href="/signIn"><button>SIGN IN</button></a>
            </div>
        </header> 
        <footer>
            <nav class="navbar navbar-expand-lg navbar-dark fixed-bottom" id="navB">
                <div class="container px-4 px-lg-5">
                    <a class="navbar-brand makeGr" href="#!">Copyright &copy; Collabor8 2022</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse" id="navbarResponsive">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item"><a class="nav-link" href="#!">About</a></li>
                            <li class="nav-item"><a class="nav-link" href="#!">Services</a></li>
                            <li class="nav-item"><a class="nav-link" href="#!">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="js/scripts.js"></script>
    </body>
</html>
