<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Collabor8 Search</title>
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <link href="/search.css" rel="stylesheet" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light py-4 px-5">
            <div>
                <a class="navbar-brand" href="/"><img src="/images/logo.png" class="logo"><strong>Collabor8</strong></a>
            </div>
            <div class="container px-0 px-lg-0">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4"> 
                        <li class="nav-item"><a class="nav-link" href="portfolioPage">My Portfolio</a></li>
                        <li class="nav-item"><a class="nav-link" href="search">Search</a></li>
                        <li class="nav-item"><a class="nav-link" href="events">Events</a></li>
                        <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" id="navbarDropdown" href="projectsFrame" role="button" data-bs-toggle="dropdown" aria-expanded="false">Projects</a>
                            <ul class="dropdown-menu projects-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="/projectsFrame"><h3>All Projects</h3></a></li>
                                <li><a class="dropdown-item mkgr" href="#!"><h3>Owned x Me</h3></a></li>
                                    <div class="dropdown">
                                        <% for(var i=0; i<projects.length; i++) {%>
                                            <li class="sub-menu"><a href="projectProfile/<%= projects[i]._id %>" class="dropdown-item " data-toggle="dropdown"><%= projects[i].repoName %></a>
                                            </li>
                                        <% } %>
                                    </div>
                                <!-- <li><a class="dropdown-item mkgr" href="#!"><h3>Owned x Others</h3></a></li>
                                <div class="dropdown">
                                    <% for(var i=0; i<projects.length; i++) {%>
                                        <li class="sub-menu"><a href="#" class="dropdown-item " data-toggle="dropdown"><%= projects[i].repoName %></a>
                                        </li>
                                    <% } %>
                                </div>  -->
                            </ul>
                        </li>
                        <li class="nav-item"><a href="/logout" class="nav-link">Logout</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <!-- main -->
    <main>
        <div class="container col-lg-5 mt-5 mb-5">
            <div class="card mb-4">
                <div class="card-header">Search</div>
                <div class="card-body">
                    <div class="input-group">
                        <input class="form-control" type="text" placeholder="Enter project name or user name..." aria-label="Enter search term..." aria-describedby="button-search" />
                        <button class="btn btn-primary" id="button-search" type="button">Go!</button>
                    </div>
                </div>
            </div>
            
            <div class="card mb-4">
                <div class="card-header">Categories</div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <ul class="list-unstyled mb-0">
                                <li><a href="/projectsFrame/traditional">Traditional Animation</a></li>
                                <li><a href="/projectsFrame/2D">2D Animation</a></li>
                                <li><a href="/projectsFrame/3D">3D Animation</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-6">
                            <ul class="list-unstyled mb-0">
                                <li><a href="/projectsFrame/alternative">Alternative</a></li>
                                <li><a href="/projectsFrame/motionG">Motion Graphics</a></li>
                                <li><a href="/projectsFrame/stopM">Stop Motion</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="card mb-4">
                <div class="card-header">Shuffle</div>
                <div class="card-body">
                    <button>SUPRISE ME</button>
                </div>
            </div>
        </div>
    </main>
    
    <footer class="py-4 bg-footer">
        <div class="container px-0 .px-sm-0">
            <strong>
                    <a class="peru" href="/about">About</a>
                    <a class="peru" href="#!">Settings</a>
                    <a class="peru" href="#!">Contact</a>
            </strong>
            <span class="mkgr">Copyright &copy; Collabor8 2022</span>
            </div>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="js/scripts.js"></script>
</body>
</html>
