<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>
        <%= user.fName %>'s Portfolio
    </title>
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <link href="/portfolioPage.css" rel="stylesheet" />
    <linke href="/squares.css" rel="stylesheet" />
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" />
</head>

<body>
    <main class="beige">
        <div class="container mt-5 row justify-content-center">
            <section class="col-6">
                <h2 class="fw-bolder mb-4 mt-2 peru">One Last Step!</h2>
                <div class="orangeBox">
                    <!-- <form action="/profilePic" enctype="multipart/form-data" method="POST">
                        <input type="file" placeholder="eventFile" name="file-to-upload">
                        </p>
                        <button type="submit">
                            Save New Profile Photo
                        </button>
                    </form><br> -->
                    <form action="/userData" method="post">
                        <h1><span class="fa fa-leaf"></span> Set Up Portfolio Page</h1>
                            <div class="form-group text-left">
                                <label>LinkedIn</label><br>
                                <input type="text" class="form-control  " name="linkedIn" placeholder="https://www.linkedin.com/in/laceytyquiengco-greene/">
                            </div>
                            <div class="form-group text-left">
                                <label>Instagram</label><br>
                                <input type="text" class="form-control  " name="instagram" placeholder="https://instagram.com/KalahatiCodes">
                            </div>
                            <div class="form-group text-left">
                                <label>Twitter</label><br>
                                <input type="text" class="form-control  " name="twitter" placeholder="https://twitter.com/KalahatiCodes">
                            </div>
                            <div class="form-group text-left">
                                <label>Your Website</label><br>
                                <input type="text" class="form-control  " name="website" placeholder="https://laceytyquiengco-greene.netlify.app/">
                            </div>
                            <label>Blurb</label><br>
                        <textarea class="aboutText" name="blurb"
                            placeholder="Hey <%= user.fName%>,&#10;&#10;Here is where you get to showcase yourself! Tell us the roots of your passion for animation, favorite styles/artists/pieces, what you're currently working on and what kind of Collabor8 projects you're interested in being apart of. Happy Collabor8ing, friend!"></textarea><br>
                            <label>Portfolio Photo</label><br>
                            <input type="file" placeholder="portfolioFile" name="file-to-upload">
                        <div class="text-center">
                            <button type="submit">
                                <h8>Save</h8>
                            </button>
                        </div>
                    </form>
        </div>

    </main>
    <footer class="py-2 bg-footer">
        <div class="container px-0 .px-sm-0 footer">
            <div class="btm1">
                <strong>
                    <a class="peruF" href="/about">About</a>
                    <a class="peruF" href="#!">Settings</a>
                    <a class="peruF" href="#!">Contact</a>
                </strong>
            </div>
            <div class="btm2">
                <span class="mkgr">Copyright &copy; Collabor8 2022</span>
            </div>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>